  <h1>Znajdź składnik po Id</h1>

  <form (ngSubmit)="getIngredient(ingredientId)">
    <div>
      <input type="number" id="ingredientId" name="ingredientId" [(ngModel)]="ingredientId" min="1" placeholder="Wpisz id składniku">
      <button type="submit">Znajdź</button>
    </div>
  </form>


    <div *ngIf="ingredient">
      <h2>Current Ingredient:</h2>
      <p>Name: {{ ingredient.name }}</p>
      <p>Amount: {{ ingredient.amount }}</p>
      <p>Meal id: {{ ingredient.mealId }}</p>
      <button (click)="deleteIngredient(ingredientId)" class="button" style="width: 60px; ">Usuń</button>
    </div>

  <form (ngSubmit)="saveIngredient(newIngredient)">
    <div>
      <h2>Dodaj nowy składnik</h2>

      <div style="text-align: left;">
        <label for="ingredientName" style="display: inline-block; width: 60px;">Name:</label>
        <input id="ingredientName" type="text" [(ngModel)]="newIngredient.name">
      </div>

      <div style="text-align: left;">
        <label for="ingredientAmount" style="display: inline-block; width: 60px;">Amount:</label>
        <input id="ingredientAmount" type="number" [(ngModel)]="newIngredient.amount">
      </div>

      <div style="text-align: left;">
        <label for="ingredientMealId" style="display: inline-block; width: 60px;">Meal id:</label>
        <input id="ingredientMealId" type="number" [(ngModel)]="newIngredient.mealId" min="1">
      </div>

      <button type="submit" style="width: 60px;">Dodaj</button>
    </div>
  </form>

