
<div>
  <h2>Dodaj subskrybenta</h2>
  <form (ngSubmit)="onSubmitSubscriber()">
    <label for="name">Imie:</label><br>
    <input type="text" id="name" [(ngModel)]="subscriber.name" name="name" required><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" [(ngModel)]="subscriber.email" name="email" required><br>

    <button type="submit">Dodaj subskrybenta</button>
  </form>
</div>

<div >
  <h2>Wyślij swoje dania</h2>
  <form (ngSubmit)="onSubmitYourDishes()">
    <label for="author">Autor:</label><br>
    <input type="text" id="author" [(ngModel)]="author" name="author" required><br>

    <label for="file">Plik:</label><br>
    <input type="file" id="file" (change)="onFileChange($event)" name="file" required><br>

    <button type="submit">Wyślij swoje dania</button>
  </form>
</div>
