<h1>Lista {{ mealsSize }} posiłków</h1>

<label for="pageSize">Rozmiar strony:</label>
<select id="pageSize" [(ngModel)]="selectedPageSize"  (change)="changePageSize(selectedPageSize)">
  <option value="2">2</option>
  <option value="5">5</option>
  <option value="10">10</option>
</select>


<button (click)="changeSort('name')">Sortuj po nazwie</button>
<button (click)="changeSort('preparationTime')">Sortuj po czasie przygotowania</button>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Nazwa</th>
    <th>Czas przygotowania</th>
    <th>Opis</th>
    <th>Typ posiłku</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let meal of meals">
    <td>{{ meal.id }}</td>
    <td>
      <input type="text" [(ngModel)]="meal.name">
    </td>
    <td>
      <input type="text" [(ngModel)]="meal.preparationTime">
    </td>
    <td>
      <input type="text" [(ngModel)]="meal.description">
    </td>
    <td>{{ meal.typeMeal }}</td>
    <td>
      <button (click)="updateMeal(meal)"style="width: 75px;">Aktualizuj</button>
      <button (click)="onDelete(meal.id)">Usuń</button>
      <button (click)="getIngredientsByMealId(meal.id)">Pokaż składniki</button>

    </td>
  </tr>


  <label for="pageSize">Rozmiar strony:</label>
  <select id="pageSize2" [(ngModel)]="selectedPageSize" (change)="changePageSize(selectedPageSize)">
    <option value="2">2</option>
    <option value="5">5</option>
    <option value="10">10</option>
  </select>

  <button (click)="changeSort('name')">Sortuj po nazwie</button>
  <button (click)="changeSort('preparationTime')">Sortuj po czasie przygotowania</button>

  <ngx-datatable
    class="material"
    [rows]="meals"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [externalPaging]="true"
    [count]="totalItems"
    [offset]="offset"
    [limit]="selectedPageSize"
    (page)="pageChange($event)"
    (sort)="onSort($event)">
    <ngx-datatable-column name="ID"></ngx-datatable-column>
    <ngx-datatable-column name="Nazwa">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <input type="text" [(ngModel)]="row.name">
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Czas przygotowania">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <input type="text" [(ngModel)]="row.preparationTime">
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Opis">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <input type="text" [(ngModel)]="row.description">
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Akcje">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button (click)="updateMeal(row)" style="width: 75px;">Aktualizuj</button>
        <button (click)="onDelete(row.id)">Usuń</button>
        <button (click)="getIngredientsByMealId(row.id)">Pokaż składniki</button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>




  <tr *ngIf="ingredientsByMealId && ingredientsByMealId.length">
    <td colspan="5">
      <ul>
        <li *ngFor="let ingredient of ingredientsByMealId">
          {{ ingredient.name }} - {{ ingredient.amount }}
        </li>
      </ul>
    </td>
  </tr>


  </tbody>
</table>

<button (click)="prevPage()" [disabled]="pageNumber === 0">Poprzednia strona</button>
<button (click)="nextPage()" [disabled]="pageNumber === getRoundedMaximumNumberOfPages()">Następna strona</button>


<div class="meal-search-container">
  <div class="search-by-name">
    <input type="text" placeholder="Search by name" [(ngModel)]="mealName">
    <button (click)="searchByName(mealName)">Wyszukaj po nazwie</button>
  </div>

  <div class="search-by-ingredients">
    <input type="text" placeholder="Search without ingredients, separated by comma" [(ngModel)]="ingredients">
    <button (click)="searchWithoutIngredients(ingredients)">Wyszukaj po składnikach</button>
  </div>

  <div *ngFor="let meal of mealsFound">
    <p>{{ meal.name }}</p>
  </div>


<div *ngFor="let meal of mealsFoundWithoutSelectedIngredients">
  <p>{{ meal.name }}</p>
</div>
</div>

